.caption-title {
    top: 35%;
}

.company img {
    width: 70%;
}

@media screen and (max-width: 576px) {
    .caption-title {
        top: 7%;
    }

    .ques-hero {
        width: 80% !important;
    }
}